
/* ESTILO DE LETRA Y COLOR  DE FONDO PARA EL TITULO PRINCIPAL */ 
h1 {
    color: rgb(17, 1, 1);
    background-color: rgb(251, 250, 252);   
  }
  
  /* ESTILO  COLOR DE FONDO PARA LOS DISTINTOS DIAS Y HORARIOS  */

.exampleone {
    background-color: rgb(175, 223, 120);
    color: rgb(8, 8, 8);

  }
  
.exampleones {   
    background-color: #d1f07d;
    color: rgb(127, 199, 241);
   
  } 

.exampleonese {
    background-color: rgb(108, 243, 214);
    color: rgb(8, 8, 8);
  } 

.exampleonesen {
    background-color: rgb(122, 225, 243);
    color: rgb(8, 8, 8);
  } 

.exampleonen {
    background-color: rgb(9, 189, 159);
    color: rgb(8, 8, 8);
  }

  / * ESTILO DE LETRA PARA LAS DIAS  * /
p {
    font-weight:bold;
    font-size: 150%;
   
  } 

  /* ESTILO DE LETRA PARA LAS PROFECCIONES */
  .example {
       
    font-style: oblique ;
    font-size: x-large;
    font-family: fantasy;
  } 
h3{
  background-color: rgb(213, 206, 226);
  font-weight: bolder;
 font-size: 150%;
}
.caja {  
 
    width: 5px; height: 50px;
    background-color:#f8a;
    border-radius: 40px; rebeccapurple;
    padding: .5em;;
    padding:40px;
    margin:50px;
    display: inline-table;
    text-align:center;
  
  
  display: table-cell;
  vertical-align:middle;
  font-family: impact;
  font-size:30px;
  text-transform:
  uppercase;
  color: navajowhite;}

  .caja1 {  
 
    width: 150px; height: 50px;
    background-color:#f8a;
    border-radius: 0px; rebeccapurple;
    padding: .5em;;
    padding:40px;
    margin:50px;
    display: inline-table;
    text-align:center;
  
  
  display: table-cell;
  vertical-align:middle;
  font-family: impact;
  font-size:30px;
  text-transform:
  uppercase;
  color: navajowhite;}

.body { 
  height: 80%;}
  body {background-image: linear-gradient(45deg, #f50b0b, rgb(167, 240, 228)); 
  }
